frequencyMeter/_ngo/
frequencyMeter/_xmsgs/
frequencyMeter/ipcore_dir/
frequencyMeter/iseconfig/
frequencyMeter/isim/
frequencyMeter/xst/
frequencyMeter/xlnx_auto_0_xdb/
*.wdb
*.exe
*.lso
*.ncd
*.ngc
*.ngd
*.ngr
*.par
*.pcf
*.xrpt
*.html
*.bgn
*.bld
*.cmd_log
*.drc
*.pad
*.map
*.mrp
*.ngm
*.csv
*.txt
*.xml
*.unroutes
*.ut
*.xst
*.xwbt
*.stx
*.syr
*.twr
*.twx
*.debug
*.log
*.ini
